apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ml-platform

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml

commonLabels:
  app: trm-finetune
  component: ml-training

