---
apiVersion: v1
kind: Service
metadata:
  name: futboss-ai-api
  namespace: futboss-ai
  labels:
    app.kubernetes.io/name: futboss-ai
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: futboss-ai
    app.kubernetes.io/component: api
