apiVersion: v1
kind: Service
metadata:
  name: prometheus-events
  namespace: prometheus
  labels:
    app: prometheus-events
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: prometheus-events

