apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ai

resources:
- ../base

patches:
- target:
    kind: LambdaAgent
    name: agent-sre
  patch: |-
    - op: replace
      path: /spec/scaling/maxReplicas
      value: 10
    - op: replace
      path: /spec/resources/requests/cpu
      value: "500m"
    - op: replace
      path: /spec/resources/requests/memory
      value: "1Gi"
    - op: replace
      path: /spec/resources/limits/cpu
      value: "2000m"
    - op: replace
      path: /spec/resources/limits/memory
      value: "4Gi"

