---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cloudflare-exporter
  namespace: cloudflare-exporter
  labels:
    app.kubernetes.io/name: cloudflare-exporter
    app.kubernetes.io/component: monitoring
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflare-exporter
  namespaceSelector:
    matchNames:
      - cloudflare-exporter
  endpoints:
    - port: http
      interval: 60s
      scrapeTimeout: 10s
      path: /metrics
      scheme: http
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_name]
          targetLabel: pod
        - sourceLabels: [__meta_kubernetes_namespace]
          targetLabel: namespace
