---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: homepage-api
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/component: api
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: homepage
      app.kubernetes.io/instance: homepage
      app.kubernetes.io/component: api
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
      - homepage
