apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflare-tunnel
spec:
  selector:
    matchLabels:
      app: cloudflared
  replicas: 2
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        fsGroup: 1001
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        imagePullPolicy: Always
        args:
        - tunnel
        - --no-autoupdate
        - --loglevel
        - info
        - --metrics
        - 0.0.0.0:2000
        - --protocol
        - http2
        - --retries
        - "5"
        - --heartbeat-count
        - "5"
        - --heartbeat-interval
        - "5s"
        - run
        - --token
        - $(CLOUDFLARE_TUNNEL_TOKEN)
        env:
        # Uses PRO cluster tunnel token from cloudflare secret
        - name: CLOUDFLARE_TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflare
              key: cloudflare-tunnel-token
        resources:
          # requests:
          #   memory: "64Mi"
          #   cpu: "50m"
          limits:
            memory: "128Mi"
            # cpu: "100m"
        livenessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 2000
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
        ports:
        - name: metrics
          containerPort: 2000
          protocol: TCP