---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: mitmproxy
  namespace: mitmproxy

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

# Common labels for all resources
commonLabels:
  app.kubernetes.io/name: mitmproxy
  app.kubernetes.io/component: proxy
  app.kubernetes.io/part-of: youtube-ssai-bypass
