apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: agent-store-multibrands

resources:
  - ../base

images:
  - name: localhost:5001/agent-store-multibrands/command-center
    newName: ghcr.io/brunovlucena/agent-store-multibrands/command-center
    newTag: v1.0.0

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "128Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "256Mi"
    target:
      kind: Deployment
      name: store-command-center
